.qi-footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #E6E3C7;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
  -moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
}
.qi-details{
  padding: rem(50px 80px);
  @include flexbox();
  @include align-items(center);
  @include justify-content(space-between);

  p{
    margin:0;
    font-weight: 300;
    font-size: rem(14px);
    color: #666666;
    line-height: normal;
  }

  .about-text{
    margin-bottom: rem(20px);
  }

  >.qi-address{
    text-align: center;
  }
} 