.header-lg{
  -webkit-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.15);
  box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.15);
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  height: 103px;
  z-index: 2;
  background-color: #ffffff;

  @media (max-width: 767px){
    display: none;
  }
}
.qi-navbar{
  @include flexbox();
  @include align-items(center);
  @include justify-content(space-between);
  padding: rem(20px) 0;

  @media (max-width: 767px){
    padding: rem(15px) 0;
  }

  img{
    height:50px;

    @media (max-width: 767px){
      height:36px;
      margin-bottom: 0;
    }
  }

  >.nav-right{
    @media (max-width: 767px){
      display: none;
    }
  }
}
.form-inline{
  @include flexbox();

  >.input-group{
    @include flexbox();
  
    >.form-control{
      border: 0;
      width: rem(400px);
      border-bottom: 1px solid $gray80;
      font-size: rem(18px);
      font-weight: 300;
  
        &:focus{
        outline: 0;
      }

      @media (min-width: 320px) and (max-width: 1024px){
        width: rem(200px);
      }
    }
  
    ::placeholder{
      color: $gray80;
      font-size: rem(18px);
      font-weight: 300;
    }
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: $gray80;
      font-size: rem(18px);
      font-weight: 300;
    }
    ::-moz-placeholder { /* Firefox 19+ */
      color: $gray80;
      font-size: rem(18px);
      font-weight: 300;
    }
    :-ms-input-placeholder { /* IE 10+ */
      color: $gray80;
      font-size: rem(18px);
      font-weight: 300;
    }
  
    >.input-group-append{
      @include flexbox();
      @include align-items(center);
      border-bottom: 1px solid $gray80;
    }
  }

  >.sign-in{
    @include flexbox();
    @include align-items(center);
    margin-left: rem(20px);

    >i{
      @media (max-width: 767px){
        font-size: 14px;
      }
    }
  
    >a{
      margin-left: 10px;
      color: $madison;
      font-size: rem(18px);
      line-height: normal;
      text-decoration: none;

      @media (max-width: 767px){
        font-size: 14px;
        margin-left: 5px;
      }
    }
  }
}

.contact-text{
  margin-bottom: 0;
  color: $green;
  @include flexbox();
  @include justify-content(flex-end);
}


/////// responsive header css ////////@include
.header-sm{
  -webkit-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.15);
  box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.15);
  position: relative;
  z-index: 2;
  display: none;


  @media (max-width: 767px){
    display: block;
  }
}
.qi-navbar{
  a{
    text-decoration: none;
  }
  >.icon{
    display: none;

    @media (max-width: 767px){
      display: block;
    }
  }
}
.topnav{
  @media (max-width: 767px){
    &.responsive {
      position: relative;

      ul{
        display: block;
      }
    }
  }
  ul{
    display: none;
    padding: 0;
    margin: 0;

    li{
      list-style-type: none;
      padding: 14px 16px;
      @media (max-width: 767px){
        .sign-in{
          display: flex;
          align-items: center;
        }
      }
    }
    a{
      text-decoration: none;
    }
  }
}