@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?bv1kfr');
  src:  url('../fonts/icomoon.eot?bv1kfr#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?bv1kfr') format('truetype'),
    url('../fonts/icomoon.woff?bv1kfr') format('woff'),
    url('../fonts/icomoon.svg?bv1kfr#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-alert:before {
  content: "\e900";
}
.icon-bed:before {
  content: "\e901";
}
.icon-car:before {
  content: "\e902";
}
.icon-clock:before {
  content: "\e903";
}
.icon-comment-alt-exclamation:before {
  content: "\e904";
}
.icon-comment:before {
  content: "\e905";
}
.icon-cycling:before {
  content: "\e906";
}
.icon-left-arrow-small:before {
  content: "\e907";
}
.icon-up-arrow-small:before {
  content: "\e908";
}
.icon-right-arrow-small:before {
  content: "\e909";
}
.icon-down-arrow-small:before {
  content: "\e90a";
}
.icon-left-arrow:before {
  content: "\e90b";
}
.icon-up-arrow:before {
  content: "\e90c";
}
.icon-right-arrow:before {
  content: "\e90d";
}
.icon-down-arrow:before {
  content: "\e90e";
}
.icon-edit:before {
  content: "\e90f";
}
.icon-facebook:before {
  content: "\e910";
}
.icon-heart:before {
  content: "\e911";
}
.icon-home:before {
  content: "\e912";
}
.icon-instagram:before {
  content: "\e913";
}
.icon-menu:before {
  content: "\e914";
}
.icon-options:before {
  content: "\e915";
}
.icon-pen:before {
  content: "\e916";
}
.icon-plus-square:before {
  content: "\e917";
}
.icon-plus:before {
  content: "\e918";
}
.icon-printer:before {
  content: "\e919";
}
.icon-profile:before {
  content: "\e91a";
}
.icon-quote:before {
  content: "\e91b";
}
.icon-quote-right:before {
  content: "\e91c";
}
.icon-search:before {
  content: "\e91d";
}
.icon-share-alt:before {
  content: "\e91e";
}
.icon-taxi:before {
  content: "\e91f";
}
.icon-twitter:before {
  content: "\e920";
}
.icon-users:before {
  content: "\e921";
}
.icon-warning:before {
  content: "\e922";
}
.icon-web:before {
  content: "\e923";
}
.icon-yes:before {
  content: "\e924";
}
.icon-linkedin:before {
  content: "\e925";
}
.icon-google:before {
  content: "\e926";
}
