@import '../scss/normalize';
@import '../scss/mixins';
@import '../scss/icons';
@import "../scss/utilities";

*{
  box-sizing: border-box;
}

$gray27:#444444;
$gray80: #CCCCCC;
$gray82: #D1D1D1;
$gray98:#FAFAFA;
$black: #000000;
$silver:#cdcdcd;
$madison:#2B3F55;
$green:#27DE55;

@import '../scss/header';

html{
  min-height: 100%;
  position: relative;
}

body{
  font-family: 'Assistant', sans-serif;
  padding-top: 103px;

  @media (max-width: 767px){
    padding-top: 0;
  }
}

i{
  color: $madison;
  font-size: rem(20px);
}

span{
  font-family: 'Assistant', sans-serif;
}
.container {
  width: 100%;
  padding: 0 rem(15px);
  margin: 0 auto;

  @media (min-width: 1200px){
    max-width: rem(1140px);
  }

  @media (max-width: 992px){
    max-width: rem(960px);
  }

  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  { 
    max-width: rem(720px);
  }
  
  @media (max-width: 576px){
    max-width: rem(540px);
  }
}

.icon-bar-right{
  position: fixed;
  top: 30%;
  right: rem(80px);
  z-index: 1;

  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) { 
    display: none;
  }

  @media (max-width: 767px){
    display: none;
  }

  >a{
    position: relative;
    @include flexbox();
    @include align-items(center);
    @include justify-content(flex-end);
    width: 0px;
    height: rem(50px);
    border-radius: rem(60px);
    background-color: #efefef;
    transition: all 0.1s ease;
    text-align: right;
    margin: 0 0 rem(8px) auto;
    overflow: hidden;
    padding: rem(4px 24px);
    -webkit-box-shadow: 2px 3px 3px 0px rgba(212,214,215,1);
    -moz-box-shadow: 2px 3px 3px 0px rgba(212,214,215,1);
    box-shadow: 2px 3px 3px 0px rgba(212,214,215,1);
    text-decoration: none;
    font-size: rem(18px);
    
    &:hover{
      width: auto;
      transition: all 0.1s ease;
      padding-right: rem(50px);

      span{
        display: inline-block;
        color: $madison;
      }
      i{
        color: $green;
      }
    }
    >span{
      display: none;
    }

    >i{
      position: absolute;
      right: rem(13px);
    }
  }
}

///// FET Section Css Start ////////
.fet-section{
  min-height: calc(100vh - 103px);

  @media (max-width: 767px){
    height: auto;
  }

  >.gradientwrap{
    @include flexbox();
    min-height: calc(100vh - 103px);
    background-image: linear-gradient(to bottom,#FFFFFF, #E7ECF2);

    @media (max-width: 767px){
      background-image: linear-gradient(to bottom,$gray98 60%, #E7ECF2);
    }

    // &::after,&::before{
    //   content:' ';
    //   position: absolute;
    //   top:0;
    //   bottom: 0;
      
    //   @media only screen and (max-device-width: 1024px) and (min-device-width: 768px){
    //     height: 100%;
    //   }
    // }

    // &::before{
    //   background-color: $gray98;
    //   left: 0;
    //   width: 64.2%;

    //   @media (max-width: 767px){
    //     width: 0;
    //    }
    // }

    // &::after{
    //   background-image: linear-gradient(to bottom, $gray98 30%, #E7ECF2);
    //   right: 0;
    //   width: 35.8%;

    //   @media (max-width: 767px){
    //     width: 0;
    //    }
    // }

    .section-header{
      text-align: center;
      margin: rem(40px 0 10px);
  
      @media only screen and (max-device-width: 1024px) and (min-device-width: 768px){
        font-size: rem(50px);
      }
  
      @media (max-width: 767px){
        font-size: rem(27px);
        margin-top: rem(30px);
      }
    }

    .section-subheader{
      text-align: center;
      margin: 0 0 rem(70px);
      color: $gray27;
      font-weight: 400;
      font-size: rem(30px);
  
      @media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  { 
        font-size: rem(20px);
      }
  
      @media (max-width: 767px){
        font-size: rem(14px);
        margin: 0 0 rem(50px);
      }
    }
  }
}

.main{
  @include flexbox();
  height: calc(100% - 229px);

  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  { 
    height: calc(100% - 206px);
  }

  @media (max-width: 767px){
    @include flex-direction(column);
    padding-bottom: rem(34px);
    height: auto;
  }

  >.main-left{
    width: 66.66%;
    background-color: $gray98;
    position: relative;

    &::before{
      content:' ';
      position: absolute;
      top:0;
      bottom: 0;
      background-color: $gray98;
      left: -100%;
      width: 100%;

      @media (max-width: 767px){
        left: -110%;
      }
    }
  
    @media (max-width: 767px){
      width: 100%;
      background-color: transparent;
      padding-bottom: 0;
    }
  }

  >.main-right{
    width: 33.34%;
  
    @media (max-width: 767px){
      width: 100%;
      background-image: none;
    }
  }
}

.list-insurance{
  margin: 0;
  padding: 0;
  @include flexbox();
  @include flex-wrap(wrap);

  &.-left{
    >li{
      &:nth-last-child(2){
        border-bottom: 0;
      }
      
      @media (max-width: 767px){
        &:nth-child(even){
          border-right:0;
        }
      }
    }
  }

  &.-right{
    @include flex-direction(column);
  
    @media (max-width: 767px){
      @include flex-direction(row);
    }
  
    >li{
  
      &:first-child,&:last-child{
        border-right: 0;
      }
  
      @media (max-width: 767px){
        &:first-child{
          border-bottom: 0;
          border-right: 1px solid $gray82;
          border-top: 1px solid $gray82;
        }
  
        &:last-child{
          border-bottom: 0;
          border-top: 1px solid $gray82;
        }
      }
    }
  }

  >li{
    list-style-type: none;
    min-width: 50%;
    flex: 0 0 50%;
    padding: rem(50px) 0;
    @include flexbox();
    @include align-items(center);
    @include justify-content(center);
    border: 1px solid $gray82;

    &:nth-child(n+1){
      border-top: 0;
      border-left: 0;
    } 

    &:last-child{
      border-bottom: 0;
    }
  }

  a{
    text-decoration: none;

    >img{
      width: auto;
      height: rem(120px);
      margin-bottom: rem(15px);

      @media only screen and (max-device-width: 1024px) and (min-device-width: 768px){
        height: rem(60px);
      }

      @media (max-width: 767px){
        height: rem(60px);
      }
    }

    >.desc{
      text-align: center;
      font-size: rem(20px);
      color: $black;
      @media (max-width: 767px){
        font-size: rem(16px);
      }
    }
  }
}
///// FET Section Css End ////////

///// Super Quick Section Css Start ///////

// .qi-section{
//   min-height: 100vh;
//   background-image: linear-gradient(to bottom, #e6edf2, #e2f2f7);
//   position: relative;


//   @media (max-width: 767px){
//     min-height: auto;
//   }
// }
#stage{
  background-image: linear-gradient(to bottom, #e6edf2, #e2f2f7);
  // min-height: 400vh;

  .container{
    height: 100vh;
    position: relative;
  }
  .bg-box{
    background-color: $gray98;
    height: 80vh;
    width: 66.66%;
    border-bottom-right-radius: 40%;
    position: absolute;
    z-index: 0;
    -webkit-box-shadow: 10px 40px 42px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 10px 40px 42px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 10px 40px 42px 0px rgba(0, 0, 0, 0.15);

    &::before{
      content: ' ';
      position: absolute;
      top: 0;
      background-color: $gray98;
      left: calc(-100% + 72px);
      width: 100%;
      bottom: 0;
      -webkit-box-shadow: -45px 40px 42px 0px rgba(0, 0, 0, 0.15);
      -moz-box-shadow: -45px 40px 42px 0px rgba(0, 0, 0, 0.15);
      box-shadow: -45px 40px 42px 0px rgba(0, 0, 0, 0.15);
      z-index: -1;

      @media (max-width: 767px){
        -webkit-box-shadow: -15px 3px 12px 0px rgba(0,0,0,0.16);
        -moz-box-shadow: -15px 3px 12px 0px rgba(0,0,0,0.16);
        box-shadow: -15px 3px 12px 0px rgba(0,0,0,0.16);
      }
    }

    @media only screen and (max-device-width: 1024px) and (min-device-width: 768px){
      height: 55%;
    }
    @media only screen and (max-device-width: 1024px) and (min-device-width: 768px) and (orientation : landscape){
      height: 70%;
    }

    @media (max-width: 767px){
      width: 95%;
      border-bottom-right-radius: 20%;
      height: 55%;
      -webkit-box-shadow: 3px 3px 12px 0px rgba(0,0,0,0.16);
      -moz-box-shadow: 3px 3px 12px 0px rgba(0,0,0,0.16);
      box-shadow: 3px 3px 12px 0px rgba(0,0,0,0.16);
    }

    @media only screen and (max-width: 767px) and (orientation : landscape) { 
      height: 90%;
      border-bottom-right-radius: 40%;
    }
  }


}
.box-scene{
  height: calc(100vh - 103px);
}
.scene{
  z-index: 1;
  position: absolute;
  // height: calc(100vh - 103px); 
  top: 0;
  left: 0;
  .content{
    opacity:0;
  }

  ul{
    margin: 0 0 rem(35px);

    @media (max-width: 767px){
      padding: 0;
      margin-top:0;
    }

    >li{
      font-size: rem(30px);
      color: rgba(102,102,102,0.61);
      font-weight: 400;
      line-height: normal;

      @media only screen and (max-device-width: 1024px) and (min-device-width: 768px){
        font-size: rem(28px);
      }

      @media (max-width: 767px){
        font-size: 16px;
        list-style-type: none;
      }
    }
  }
  h2{
    margin: 0;
  }
  h1{
    margin-bottom: 0;
    text-align: center;
  }
}

///// Super Quick Section Css End ///////
@import '../scss/footer';