/* ========================================================================== Normalize.scss settings ========================================================================== */
/** Includes legacy browser support IE6/7  Set to false if you want to drop support for IE6 and IE7 */
/* Base ========================================================================== */
/** 1. Set default font family to sans-serif. 2. Prevent iOS and IE text size adjust after device orientation change, without disabling user zoom. 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using `em` units. */
html { font-family: sans-serif; /* 1 */ -ms-text-size-adjust: 100%; /* 2 */ -webkit-text-size-adjust: 100%; /* 2 */ }

/** Remove default margin. */
body { margin: 0; }

/* HTML5 display definitions ========================================================================== */
/** Correct `block` display not defined for any HTML5 element in IE 8/9. Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox. Correct `block` display not defined for `main` in IE 11. */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

/** 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3. 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera. */
audio, canvas, progress, video { display: inline-block; /* 1 */ vertical-align: baseline; /* 2 */ }

/** Prevents modern browsers from displaying `audio` without controls. Remove excess height in iOS 5 devices. */
audio:not([controls]) { display: none; height: 0; }

/** Address `[hidden]` styling not present in IE 8/9/10. Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22. */
[hidden], template { display: none; }

/* Links ========================================================================== */
/** Remove the gray background color from active links in IE 10. */
a { background-color: transparent; }

/** Improve readability of focused elements when they are also in an active/hover state. */
a:active, a:hover { outline: 0; }

/* Text-level semantics ========================================================================== */
/** Address styling not present in IE 8/9/10/11, Safari, and Chrome. */
abbr[title] { border-bottom: 1px dotted; }

/** Address style set to `bolder` in Firefox 4+, Safari, and Chrome. */
b, strong { font-weight: bold; }

/** Address styling not present in Safari and Chrome. */
dfn { font-style: italic; }

/** Address variable `h1` font-size and margin within `section` and `article` contexts in Firefox 4+, Safari, and Chrome. */
h1 { font-size: 2em; margin: 0.67em 0; }

/** Addresses styling not present in IE 8/9. */
mark { background: #ff0; color: #000; }

/** Address inconsistent and variable font size in all browsers. */
small { font-size: 80%; }

/** Prevent `sub` and `sup` affecting `line-height` in all browsers. */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

/* Embedded content ========================================================================== */
/** 1. Remove border when inside `a` element in IE 8/9/10. 2. Improves image quality when scaled in IE 7. */
img { border: 0; }

/** Correct overflow not hidden in IE 9/10/11. */
svg:not(:root) { overflow: hidden; }

/* Grouping content ========================================================================== */
/** Address margin not present in IE 8/9 and Safari. */
figure { margin: 1em 40px; }

/** Address differences between Firefox and other browsers. */
hr { box-sizing: content-box; height: 0; }

/** Contain overflow in all browsers. */
pre { overflow: auto; }

/** Address odd `em`-unit font size rendering in all browsers. Correct font family set oddly in IE 6, Safari 4/5, and Chrome. */
code, kbd, pre, samp { font-family: monospace, monospace; font-size: 1em; }

/* Forms ========================================================================== */
/** Known limitation: by default, Chrome and Safari on OS X allow very limited styling of `select`, unless a `border` property is set. */
/** 1. Correct color not being inherited. Known issue: affects color of disabled elements. 2. Correct font properties not being inherited. 3. Address margins set differently in Firefox 4+, Safari, and Chrome. 4. Improves appearance and consistency in all browsers. */
button, input, optgroup, select, textarea { color: inherit; /* 1 */ font: inherit; /* 2 */ margin: 0; /* 3 */ }

/** Address `overflow` set to `hidden` in IE 8/9/10/11. */
button { overflow: visible; }

/** Address inconsistent `text-transform` inheritance for `button` and `select`. All other form control elements do not inherit `text-transform` values. Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera. Correct `select` style inheritance in Firefox. */
button, select { text-transform: none; }

/** 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio` and `video` controls. 2. Correct inability to style clickable `input` types in iOS. 3. Improve usability and consistency of cursor style between image-type `input` and others. 4. Removes inner spacing in IE 7 without affecting normal text inputs. Known issue: inner spacing remains in IE 6. */
button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; /* 2 */ cursor: pointer; /* 3 */ }

/** Re-set default cursor for disabled elements. */
button[disabled], html input[disabled] { cursor: default; }

/** Remove inner padding and border in Firefox 4+. */
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/** Address Firefox 4+ setting `line-height` on `input` using `!important` in the UA stylesheet. */
input { line-height: normal; }

/** 1. Address box sizing set to `content-box` in IE 8/9/10. 2. Remove excess padding in IE 8/9/10. Known issue: excess padding remains in IE 6. */
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; /* 1 */ padding: 0; /* 2 */ }

/** Fix the cursor style for Chrome's increment/decrement buttons. For certain `font-size` values of the `input`, it causes the cursor style of the decrement button to change from `default` to `text`. */
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { height: auto; }

/** 1. Address `appearance` set to `searchfield` in Safari and Chrome. 2. Address `box-sizing` set to `border-box` in Safari and Chrome. */
input[type="search"] { -webkit-appearance: textfield; /* 1 */ box-sizing: content-box; /* 2 */ }

/** Remove inner padding and search cancel button in Safari and Chrome on OS X. Safari (but not Chrome) clips the cancel button when the search input has padding (and `textfield` appearance). */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/** Define consistent border, margin, and padding. */
fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }

/** 1. Correct `color` not being inherited in IE 8/9/10/11. 2. Remove padding so people aren't caught out if they zero out fieldsets. 3. Corrects text not wrapping in Firefox 3. 4. Corrects alignment displayed oddly in IE 6/7. */
legend { border: 0; /* 1 */ padding: 0; /* 2 */ }

/** Remove default vertical scrollbar in IE 8/9/10/11. */
textarea { overflow: auto; }

/** Don't inherit the `font-weight` (applied by a rule above). NOTE: the default cannot safely be changed in Chrome and Safari on OS X. */
optgroup { font-weight: bold; }

/* Tables ========================================================================== */
/** Remove most spacing between table cells. */
table { border-collapse: collapse; border-spacing: 0; }

td, th { padding: 0; }

@font-face { font-family: 'icomoon'; src: url("../fonts/icomoon.eot?bv1kfr"); src: url("../fonts/icomoon.eot?bv1kfr#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?bv1kfr") format("truetype"), url("../fonts/icomoon.woff?bv1kfr") format("woff"), url("../fonts/icomoon.svg?bv1kfr#icomoon") format("svg"); font-weight: normal; font-style: normal; }
[class^="icon-"], [class*=" icon-"] { /* use !important to prevent issues with browser extensions that change fonts */ font-family: 'icomoon' !important; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; /* Better Font Rendering =========== */ -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.icon-alert:before { content: "\e900"; }

.icon-bed:before { content: "\e901"; }

.icon-car:before { content: "\e902"; }

.icon-clock:before { content: "\e903"; }

.icon-comment-alt-exclamation:before { content: "\e904"; }

.icon-comment:before { content: "\e905"; }

.icon-cycling:before { content: "\e906"; }

.icon-left-arrow-small:before { content: "\e907"; }

.icon-up-arrow-small:before { content: "\e908"; }

.icon-right-arrow-small:before { content: "\e909"; }

.icon-down-arrow-small:before { content: "\e90a"; }

.icon-left-arrow:before { content: "\e90b"; }

.icon-up-arrow:before { content: "\e90c"; }

.icon-right-arrow:before { content: "\e90d"; }

.icon-down-arrow:before { content: "\e90e"; }

.icon-edit:before { content: "\e90f"; }

.icon-facebook:before { content: "\e910"; }

.icon-heart:before { content: "\e911"; }

.icon-home:before { content: "\e912"; }

.icon-instagram:before { content: "\e913"; }

.icon-menu:before { content: "\e914"; }

.icon-options:before { content: "\e915"; }

.icon-pen:before { content: "\e916"; }

.icon-plus-square:before { content: "\e917"; }

.icon-plus:before { content: "\e918"; }

.icon-printer:before { content: "\e919"; }

.icon-profile:before { content: "\e91a"; }

.icon-quote:before { content: "\e91b"; }

.icon-quote-right:before { content: "\e91c"; }

.icon-search:before { content: "\e91d"; }

.icon-share-alt:before { content: "\e91e"; }

.icon-taxi:before { content: "\e91f"; }

.icon-twitter:before { content: "\e920"; }

.icon-users:before { content: "\e921"; }

.icon-warning:before { content: "\e922"; }

.icon-web:before { content: "\e923"; }

.icon-yes:before { content: "\e924"; }

.icon-linkedin:before { content: "\e925"; }

.icon-google:before { content: "\e926"; }

.text-uppercase { text-transform: uppercase !important; }

.display-3 { font-size: 4.5rem; font-weight: 200; line-height: 1.2; text-align: center; }

* { box-sizing: border-box; }

.header-lg { -webkit-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.15); -moz-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.15); box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.15); position: fixed; top: 0; left: 0; right: 0; height: 103px; z-index: 2; background-color: #ffffff; }
@media (max-width: 767px) { .header-lg { display: none; } }

.qi-navbar { display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; -webkit-align-items: center; -moz-align-items: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; -webkit-justify-content: space-between; -moz-justify-content: space-between; justify-content: space-between; padding: 1.25rem 0; }
@media (max-width: 767px) { .qi-navbar { padding: 0.9375rem 0; } }
.qi-navbar img { height: 50px; }
@media (max-width: 767px) { .qi-navbar img { height: 36px; margin-bottom: 0; } }
@media (max-width: 767px) { .qi-navbar > .nav-right { display: none; } }

.form-inline { display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; }
.form-inline > .input-group { display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; }
.form-inline > .input-group > .form-control { border: 0; width: 25rem; border-bottom: 1px solid #CCCCCC; font-size: 1.125rem; font-weight: 300; }
.form-inline > .input-group > .form-control:focus { outline: 0; }
@media (min-width: 320px) and (max-width: 1024px) { .form-inline > .input-group > .form-control { width: 12.5rem; } }
.form-inline > .input-group ::placeholder { color: #CCCCCC; font-size: 1.125rem; font-weight: 300; }
.form-inline > .input-group ::-webkit-input-placeholder { /* Chrome/Opera/Safari */ color: #CCCCCC; font-size: 1.125rem; font-weight: 300; }
.form-inline > .input-group ::-moz-placeholder { /* Firefox 19+ */ color: #CCCCCC; font-size: 1.125rem; font-weight: 300; }
.form-inline > .input-group :-ms-input-placeholder { /* IE 10+ */ color: #CCCCCC; font-size: 1.125rem; font-weight: 300; }
.form-inline > .input-group > .input-group-append { display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; -webkit-align-items: center; -moz-align-items: center; align-items: center; border-bottom: 1px solid #CCCCCC; }
.form-inline > .sign-in { display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; -webkit-align-items: center; -moz-align-items: center; align-items: center; margin-left: 1.25rem; }
@media (max-width: 767px) { .form-inline > .sign-in > i { font-size: 14px; } }
.form-inline > .sign-in > a { margin-left: 10px; color: #2B3F55; font-size: 1.125rem; line-height: normal; text-decoration: none; }
@media (max-width: 767px) { .form-inline > .sign-in > a { font-size: 14px; margin-left: 5px; } }

.contact-text { margin-bottom: 0; color: #27DE55; display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: end; -ms-flex-pack: end; -webkit-justify-content: flex-end; -moz-justify-content: flex-end; justify-content: flex-end; }

.header-sm { -webkit-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.15); -moz-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.15); box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.15); position: relative; z-index: 2; display: none; }
@media (max-width: 767px) { .header-sm { display: block; } }

.qi-navbar a { text-decoration: none; }
.qi-navbar > .icon { display: none; }
@media (max-width: 767px) { .qi-navbar > .icon { display: block; } }

@media (max-width: 767px) { .topnav.responsive { position: relative; }
  .topnav.responsive ul { display: block; } }
.topnav ul { display: none; padding: 0; margin: 0; }
.topnav ul li { list-style-type: none; padding: 14px 16px; }
@media (max-width: 767px) { .topnav ul li .sign-in { display: flex; align-items: center; } }
.topnav ul a { text-decoration: none; }

html { min-height: 100%; position: relative; }

body { font-family: 'Assistant', sans-serif; padding-top: 103px; }
@media (max-width: 767px) { body { padding-top: 0; } }

i { color: #2B3F55; font-size: 1.25rem; }

span { font-family: 'Assistant', sans-serif; }

.container { width: 100%; padding: 0 0.9375rem; margin: 0 auto; }
@media (min-width: 1200px) { .container { max-width: 71.25rem; } }
@media (max-width: 992px) { .container { max-width: 60rem; } }
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) { .container { max-width: 45rem; } }
@media (max-width: 576px) { .container { max-width: 33.75rem; } }

.icon-bar-right { position: fixed; top: 30%; right: 5rem; z-index: 1; }
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) { .icon-bar-right { display: none; } }
@media (max-width: 767px) { .icon-bar-right { display: none; } }
.icon-bar-right > a { position: relative; display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; -webkit-align-items: center; -moz-align-items: center; align-items: center; -webkit-box-pack: end; -ms-flex-pack: end; -webkit-justify-content: flex-end; -moz-justify-content: flex-end; justify-content: flex-end; width: 0px; height: 3.125rem; border-radius: 3.75rem; background-color: #efefef; transition: all 0.1s ease; text-align: right; margin: 0 0 0.5rem auto; overflow: hidden; padding: 0.25rem 1.5rem; -webkit-box-shadow: 2px 3px 3px 0px #d4d6d7; -moz-box-shadow: 2px 3px 3px 0px #d4d6d7; box-shadow: 2px 3px 3px 0px #d4d6d7; text-decoration: none; font-size: 1.125rem; }
.icon-bar-right > a:hover { width: auto; transition: all 0.1s ease; padding-right: 3.125rem; }
.icon-bar-right > a:hover span { display: inline-block; color: #2B3F55; }
.icon-bar-right > a:hover i { color: #27DE55; }
.icon-bar-right > a > span { display: none; }
.icon-bar-right > a > i { position: absolute; right: 0.8125rem; }

.fet-section { min-height: calc(100vh - 103px); }
@media (max-width: 767px) { .fet-section { height: auto; } }
.fet-section > .gradientwrap { display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; min-height: calc(100vh - 103px); background-image: linear-gradient(to bottom, #FFFFFF, #E7ECF2); }
@media (max-width: 767px) { .fet-section > .gradientwrap { background-image: linear-gradient(to bottom, #FAFAFA 60%, #E7ECF2); } }
.fet-section > .gradientwrap .section-header { text-align: center; margin: 2.5rem 0 0.625rem; }
@media only screen and (max-device-width: 1024px) and (min-device-width: 768px) { .fet-section > .gradientwrap .section-header { font-size: 3.125rem; } }
@media (max-width: 767px) { .fet-section > .gradientwrap .section-header { font-size: 1.6875rem; margin-top: 1.875rem; } }
.fet-section > .gradientwrap .section-subheader { text-align: center; margin: 0 0 4.375rem; color: #444444; font-weight: 400; font-size: 1.875rem; }
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) { .fet-section > .gradientwrap .section-subheader { font-size: 1.25rem; } }
@media (max-width: 767px) { .fet-section > .gradientwrap .section-subheader { font-size: 0.875rem; margin: 0 0 3.125rem; } }

.main { display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; height: calc(100% - 229px); }
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) { .main { height: calc(100% - 206px); } }
@media (max-width: 767px) { .main { -webkit-box-direction: normal; -webkit-box-orient: vertical; -webkit-flex-direction: column; -moz-flex-direction: column; -ms-flex-direction: column; flex-direction: column; padding-bottom: 2.125rem; height: auto; } }
.main > .main-left { width: 66.66%; background-color: #FAFAFA; position: relative; }
.main > .main-left::before { content: ' '; position: absolute; top: 0; bottom: 0; background-color: #FAFAFA; left: -100%; width: 100%; }
@media (max-width: 767px) { .main > .main-left::before { left: -110%; } }
@media (max-width: 767px) { .main > .main-left { width: 100%; background-color: transparent; padding-bottom: 0; } }
.main > .main-right { width: 33.34%; }
@media (max-width: 767px) { .main > .main-right { width: 100%; background-image: none; } }

.list-insurance { margin: 0; padding: 0; display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -moz-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }
.list-insurance.-left > li:nth-last-child(2) { border-bottom: 0; }
@media (max-width: 767px) { .list-insurance.-left > li:nth-child(even) { border-right: 0; } }
.list-insurance.-right { -webkit-box-direction: normal; -webkit-box-orient: vertical; -webkit-flex-direction: column; -moz-flex-direction: column; -ms-flex-direction: column; flex-direction: column; }
@media (max-width: 767px) { .list-insurance.-right { -webkit-box-direction: normal; -webkit-box-orient: horizontal; -webkit-flex-direction: row; -moz-flex-direction: row; -ms-flex-direction: row; flex-direction: row; } }
.list-insurance.-right > li:first-child, .list-insurance.-right > li:last-child { border-right: 0; }
@media (max-width: 767px) { .list-insurance.-right > li:first-child { border-bottom: 0; border-right: 1px solid #D1D1D1; border-top: 1px solid #D1D1D1; }
  .list-insurance.-right > li:last-child { border-bottom: 0; border-top: 1px solid #D1D1D1; } }
.list-insurance > li { list-style-type: none; min-width: 50%; flex: 0 0 50%; padding: 3.125rem 0; display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; -webkit-align-items: center; -moz-align-items: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; -moz-justify-content: center; justify-content: center; border: 1px solid #D1D1D1; }
.list-insurance > li:nth-child(n+1) { border-top: 0; border-left: 0; }
.list-insurance > li:last-child { border-bottom: 0; }
.list-insurance a { text-decoration: none; }
.list-insurance a > img { width: auto; height: 7.5rem; margin-bottom: 0.9375rem; }
@media only screen and (max-device-width: 1024px) and (min-device-width: 768px) { .list-insurance a > img { height: 3.75rem; } }
@media (max-width: 767px) { .list-insurance a > img { height: 3.75rem; } }
.list-insurance a > .desc { text-align: center; font-size: 1.25rem; color: #000000; }
@media (max-width: 767px) { .list-insurance a > .desc { font-size: 1rem; } }

#stage { background-image: linear-gradient(to bottom, #e6edf2, #e2f2f7); }
#stage .container { height: 100vh; position: relative; }
#stage .bg-box { background-color: #FAFAFA; height: 80vh; width: 66.66%; border-bottom-right-radius: 40%; position: absolute; z-index: 0; -webkit-box-shadow: 10px 40px 42px 0px rgba(0, 0, 0, 0.15); -moz-box-shadow: 10px 40px 42px 0px rgba(0, 0, 0, 0.15); box-shadow: 10px 40px 42px 0px rgba(0, 0, 0, 0.15); }
#stage .bg-box::before { content: ' '; position: absolute; top: 0; background-color: #FAFAFA; left: calc(-100% + 72px); width: 100%; bottom: 0; -webkit-box-shadow: -45px 40px 42px 0px rgba(0, 0, 0, 0.15); -moz-box-shadow: -45px 40px 42px 0px rgba(0, 0, 0, 0.15); box-shadow: -45px 40px 42px 0px rgba(0, 0, 0, 0.15); z-index: -1; }
@media (max-width: 767px) { #stage .bg-box::before { -webkit-box-shadow: -15px 3px 12px 0px rgba(0, 0, 0, 0.16); -moz-box-shadow: -15px 3px 12px 0px rgba(0, 0, 0, 0.16); box-shadow: -15px 3px 12px 0px rgba(0, 0, 0, 0.16); } }
@media only screen and (max-device-width: 1024px) and (min-device-width: 768px) { #stage .bg-box { height: 55%; } }
@media only screen and (max-device-width: 1024px) and (min-device-width: 768px) and (orientation: landscape) { #stage .bg-box { height: 70%; } }
@media (max-width: 767px) { #stage .bg-box { width: 95%; border-bottom-right-radius: 20%; height: 55%; -webkit-box-shadow: 3px 3px 12px 0px rgba(0, 0, 0, 0.16); -moz-box-shadow: 3px 3px 12px 0px rgba(0, 0, 0, 0.16); box-shadow: 3px 3px 12px 0px rgba(0, 0, 0, 0.16); } }
@media only screen and (max-width: 767px) and (orientation: landscape) { #stage .bg-box { height: 90%; border-bottom-right-radius: 40%; } }

.box-scene { height: calc(100vh - 103px); }

.scene { z-index: 1; position: absolute; top: 0; left: 0; }
.scene .content { opacity: 0; }
.scene ul { margin: 0 0 2.1875rem; }
@media (max-width: 767px) { .scene ul { padding: 0; margin-top: 0; } }
.scene ul > li { font-size: 1.875rem; color: rgba(102, 102, 102, 0.61); font-weight: 400; line-height: normal; }
@media only screen and (max-device-width: 1024px) and (min-device-width: 768px) { .scene ul > li { font-size: 1.75rem; } }
@media (max-width: 767px) { .scene ul > li { font-size: 16px; list-style-type: none; } }
.scene h2 { margin: 0; }
.scene h1 { margin-bottom: 0; text-align: center; }

.qi-footer { position: absolute; bottom: 0; width: 100%; background-color: #E6E3C7; -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16); -moz-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16); box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16); }

.qi-details { padding: 3.125rem 5rem; display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; -webkit-align-items: center; -moz-align-items: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; -webkit-justify-content: space-between; -moz-justify-content: space-between; justify-content: space-between; }
.qi-details p { margin: 0; font-weight: 300; font-size: 0.875rem; color: #666666; line-height: normal; }
.qi-details .about-text { margin-bottom: 1.25rem; }
.qi-details > .qi-address { text-align: center; }
